body.dark {
  background-color: #111;
  color: white;
}

body.light {
  background-color: rgb(202, 7, 7);
  color: rgb(255, 232, 232);
}

body.dark h2{
  color: rgb(255, 255, 255);
}

body.light h2 {
  color: rgb(8, 8, 8);
}

body.dark  .widget-container{
  background-color: rgb(187, 52, 52);
}

body.light  .widget-container{
  background-color: rgba(245, 245, 245, 0.904);
}

body.dark .col{
  color: greenyellow;
  border: 1px solid black;
}

body.light .col{
  color: violet;
  border: 1px solid black;
}